.footer {
    background-color: #101112;
    color: white;
    font-size: 14px;
}

.footer-top {
    padding-block: 40px 0;
    border-bottom: 1px solid #34495e;
}

.footer-middle {
    padding: 60px 0;
    border-bottom: 1px solid #34495e;
}

.footer-bottom {
    padding: 20px 0;
    text-align: center;
    background-color: #101112;
}

.footer-top .container .row {
    display: flex;
    margin: auto;
}


.footer-logo img {
    max-width: 150px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 15px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
}

.text-wrapper span, 
.text-wrapper p {
    display: block; 
    margin: 0;
    line-height: 1.5;
}

.contact-icon {
    font-size: 20px;
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}


.footer-section h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-section p {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.footer-section li a {
    color: #bdc3c7;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px; 
    padding: 5px 0;
    font-size: 16px;
}

.footer-section li a:hover {
    color: white;
}

.rect-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    background-color: #e74c3c;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}


.social-icons {
    margin-top: 20px;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #34495e;
    color: white;
    margin-right: 10px;
    text-decoration: none;
    font-size: 16px;
}

.social-icon:hover {
    background-color: #e74c3c;
}

.newsletter p {
    margin-bottom: 15px;
}

.newsletter-form {
    display: flex;
}

.newsletter-form input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #34495e;
    color: white;
}

.newsletter-form input::placeholder {
    color: #bdc3c7;
}

.newsletter-form button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: grid;
    place-items: center;

    i{
        font-size: 24px;
    }
}

.newsletter-form button:hover {
    background-color: #c0392b;
}


@media (max-width: 768px) {
    .footer-sections-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
    }

    .footer-section {
        flex: 1;
        min-width: 150px;
    }

    .col-md-3 {
        width: 50%;
        margin-bottom: 30px;
    }

    .newsletter {
        width: 100%;
        margin-top: 20px;
    }

    .newsletter-form {
        flex-direction: column;
        align-items: center;
    }

    .newsletter-form input {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .newsletter-form button {
        width: 100%;
        border-radius: 5px;
    } 
}
