

.home-hero {
  background: url("../Assets/Background.jpg") center/cover no-repeat;
  padding-top: 80px;
}

.hero {
  width: 100%;
  height: 700px;
  display: flex;
  padding-top: 170px;
  justify-content: flex-start;
  color: white;
  position: relative;
  overflow: hidden;
}

.hero .container {
  max-width: 800px;
  width: 100%;
  margin-left: 140px;
  text-align: left;
}

.hero-content {
  border-left: 3px solid brown;
  padding-inline-start: 20px;
}

.hero h1 {
  font-weight: 800;
  line-height: 1.14em;
  margin-bottom: 24px;
  font-size: 64px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hero-buttons .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  padding: 16px 32px;
  position: relative;
  color: white;
  background: #ff2600;
  border: none;
  overflow: hidden;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.hero-buttons .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: black;
  transition: left 0.3s ease-in-out;
}

.hero-buttons .btn:hover::before {
  left: 0;
}

.hero-buttons .btn:hover {
  color: white;
  border:1px solid #ff2600;
}

.hero-buttons .btn span,  
.hero-buttons .btn i { 
  position: relative;
  z-index: 1;
  color: white;
}


.TopCategory {
  position: relative;
  bottom: 150px;
  left: 20%;
  transform: translateX(-50%);
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .hero .container {
    margin-left: 50px;
  }

  .hero h1 {
    font-size: 54px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    min-height:50vh;
    padding-top: 10px;
  }

  .hero .container {
    margin-left: 0;
    border-left: none;
    text-align: left;
    padding: 0 20px;
  }

  .hero h1 {
    font-size: 46px;
  }

  .hero p {
    font-size: 16px;
  }

  .hero-buttons {
    flex-wrap: wrap;
    justify-content: left;
  }

  .TopCategory {
    bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    height: 350px;
    padding-top: 20px;
    padding-bottom: 50px;
    align-items: center;
  }

  .hero h1 {
    font-size: 38px;
  }

  .hero p {
    font-size: 15px;
  }

  .hero-buttons {
    flex-direction: column;
    width: 100%;
    justify-content: left;
  }

  .hero-buttons .btn {
    width: 90%;
    max-width: 280px;
    padding: 14px;
    font-size: 14px;
  }

  .TopCategory {
    bottom: 30px;
    left: 45%;
  }
}

/*--------------- Card Carousel starts here --------------------*/
.home-features {
  background-color: #f1f7fa;
}

.card-carousel {
  overflow: hidden;
  padding: 40px;
  position: relative;
  width: 1275px;
  margin-inline: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  top: -100px;
}

.slider {
  display: flex;
  width: 100%;
  gap: 15px;
  transition: transform 1s ease-in-out;
}

.card {
  flex: 0 0 226px;
  height: 150px;
  background-image: url('../Assets/logistic-cards.avif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: -3px 0 5px rgba(255, 0, 0, 0.5), 3px 0 5px rgba(255, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transform: translateX(0);
  animation: slideLeft 1s ease-in-out;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.card::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: top 0.5s ease-in-out;
}

.card:hover::before {
  top: 0;
}

.card-content {
  position: relative;
  z-index: 1;
}

.card-content .icon {
  font-size: 40px;
  color: yellow;
  margin-bottom: 20px;
  transition: color 0.5s;
}

.card-content h3 {
  font-size: 18px;
  font-weight: 700;
  color: white;
  transition: color 0.5s;
}

.card:hover .icon {
  color: red;
}

.card:hover h3 {
  color: red;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-120%);
    opacity: 0;
  }
}

@keyframes shiftLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-226px);
  }
}

.exiting {
  animation: slideOut 0.9s ease-in-out forwards;
}

.shift-left {
  animation: shiftLeft 0.9s ease-in-out forwards;
}

@media screen and (max-width: 1024px) {
  .card-carousel {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .card-carousel {
    width: 100%;
    padding: 20px;
  }
  .slider {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .slider .card {
    flex: 0 0 48%; 
    scroll-snap-align: center;
    margin-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .card-carousel {
    padding: 15px;
    width: 430px;
    top: 0;
  }
  .slider .card {
    flex: 0 0 45%;  
}

.card{
  height:130px;
}
}
