/*------------Navbar Top styling ---------------------*/
.navbar-top {
    background-color: #27292c !important;
    color: white !important;
    position: fixed;
    top: 0;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: opacity 0.3s ease-in-out;
    top: 30px;
}

.navbar-top .container {
    padding-inline-start: 0;
}

.navbar-top .navbar-nav {
    gap: 0;
}

.signup-btn {
    width: 165px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    padding: 19px 30px;
    position: relative;
    overflow: hidden;
    color: white;
    background: #ff2600;
    border: none;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.signup-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: black;
    transition: left 0.3s ease-in-out;
    z-index: 0;
}

.signup-btn:hover::before {
    left: 0;
}

.signup-btn:hover {
    color: white;
    border: 1px solid #ff2600;
}

.signup-btn .icon,
.signup-btn span {
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    color: white;
}

.signup-btn:hover .icon {
    transform: translateX(5px);
}


.navbar-top .navbar-brand {
    background-color: white !important;
    padding: 15px;
}


.navbar-top.hidden {
    opacity: 0;
    pointer-events: none;
}


.navbar .nav-link {
    font-size: 18px;
    margin-right: 20px;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out;
}

.navbar-top .nav-link {
    color: white !important;
}

.navbar-top .nav-link:hover {
    color: #ff5733 !important;
}

@media (max-width: 768px) {
    .navbar-top {
        display: none;
    }

    .navbar-scroll {
        opacity: 1 !important;
        pointer-events: auto !important;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1001;
        background-color: #ffffff !important;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}


/*------------Navbar Scroll styling ---------------------*/

.navbar-scroll {
    background-color: #ffffff !important;
    color: black !important;
    position: fixed;
    padding-left: 70px;
    top: 0;
    width: 100%;
    z-index: 1001;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.navbar-scroll.visible {
    opacity: 1;
    pointer-events: auto;
    background-color: #ffffff !important;
}

.navbar-scroll .nav-link {
    color: black !important;
}

.navbar-scroll .nav-link:hover {
    color: #ff5733 !important;
}

.navbar .nav-item.dropdown:hover > .dropdown-menu {
    display: block;
}

.navbar .nav-item.dropdown > .nav-link::after {
    content: "+";
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

.navbar .nav-item.dropdown > .nav-link[aria-expanded="true"]::after {
    content: "-";
}

.navbar .dropdown-submenu {
    position: relative;

    .dropdown-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

.navbar .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.navbar .dropdown-submenu > .dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 0;
    min-width: 200px;
}

.navbar-top .dropdown-menu {
    border: none;
    padding: 10px;
}

.navbar-top .dropdown-item {
    color: rgb(0, 0, 0) !important;
}

.navbar-top .dropdown-item:hover {
    color: #ff5733 !important;
}

.navbar-scroll .dropdown-menu {
    background-color: #ffffff !important;
    border: none;
    padding: 10px;
    padding-inline: 20px;
}

.navbar-scroll .dropdown-item {
    background-color: white;
    color: black !important;
}

.navbar-scroll .dropdown-item:hover {
    color: #3498db !important;
}

.navbar-brand img {
    height: 50px;
}

.navbar-toggler {
    border: none;
    background: transparent;
    padding: 5px;
}

.navbar-toggler-icon {
    background-image: none !important;
}

.navbar-toggler-icon::before {
    content: "\2630";
    font-size: 24px;
    color: inherit;
}

@media screen and (min-width: 768px) {
    .navbar-nav {
        gap: 30px;
    }
}

.icon-link{
    padding-inline: 15px;
    text-decoration: none;

    i{
        color: white;
    }
}


.offcanvas.offcanvas-end {
    width: 310px; 
}

.offcanvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 940;
}


.custom-offcanvas {
    background-color: black !important;
}

@media (max-width: 991px) {
    .custom-offcanvas .nav-link, 
    .custom-offcanvas .dropdown-item {
        background-color: black;
        color: white !important;
    }
    .custom-offcanvas .nav-link {
        border: none;
    }
    .custom-offcanvas .nav-link {
        background-color: black;
        color: white !important;
    }
    
    .custom-offcanvas .nav-link:hover, 
    .custom-offcanvas .dropdown-item:hover {
        color: yellow !important;
    }

    .btn-close {
        color: white !important;
        font-size: 32px;
    }
}

@media (min-width: 992px) {
    .custom-offcanvas .nav-link, 
    .custom-offcanvas .dropdown-item {
        color: black !important; 
    }
}

.offcanvas-icon-details{
    margin-left: 20px;

    span{
        color: azure;
    }
}