:root {
    --text-color: #555555;
    --headings-color: var(--theme-color2);
    --link-color: var(--theme-color-dark);
    --link-hover-color: var(--theme-color-dark);
    --text-font: "Nunito", sans-serif;
    --title-font: "Lato", sans-serif;
    --body-font-size: 16px;
    --body-line-height: 1.875em;
}

body {
    font-family: var(--text-font);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    color: var(--headings-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--link-hover-color);
}
